<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Educational Management System</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

</head>
<body>
<nav>
    <a href="/admin/studentList">Student List</a>
    <a href="/admin/addStudent">Add Student</a>

    <a href="/admin/adminList">Admin List</a>
    <a href="/admin/addAdmin">Add Admin</a>

    <a href="/admin/teacherList">Teacher List</a>
    <a href="/admin/addTeacher">Add Teacher</a>

    <a href="/admin/courseList">Course List</a>
    <a href="/admin/addCourse">Add Course</a>




    <a href="/logout">Logout</a>

</nav>
<div layout:fragment="content">
    <!-- content page will override this -->
</div>
</body>
</html>


