<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hanoi University</title>

</head>
<body>
<p>test</p>
<nav>
    <a href="/employee/list">Employee List</a>
    <a href="/employee/add">Add Employee</a>
    <a href="/logout">Logout</a>
</nav>
<div th:replace="top-header :: topHeader"></div>
<div th:replace="sidebar-teacher :: sidebar"></div>
<div layout:fragment="content">
    <!-- content page will override this -->
</div>
</body>
</html>