<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<head>
  <meta charset="UTF-8">
  <title>Accountant Detail</title>
  <link rel="stylesheet" type="text/css" href="/css/accountantDetail.css" />
</head>
<body>
<div layout:fragment="content" class="content">
  <h1>Accountant Detail</h1>
  <div class="detail-item">
    <label>User ID: </label><span th:text="${accountant.user.userID}"></span>
  </div>
  <div class="detail-item">
    <label>Accountant Code: </label><span th:text="${accountant.accountantCode}"></span>
  </div>
  <div class="detail-item">
    <label>Username: </label><span th:text="${accountant.user.username}"></span>
  </div>
  <div class="detail-item">
    <label>Password: </label><span th:text="${accountant.user.password}"></span>
  </div>
  <div class="detail-item">
    <label>Full Name: </label><span th:text="${accountant.user.userFullname}"></span>
  </div>
  <div class="detail-item">
    <label>Gender: </label><span th:text="${accountant.user.gender}"></span>
  </div>
  <div class="detail-item">
    <label>Date of Birth: </label><span th:text="${accountant.user.dateOfBirth}"></span>
  </div>
  <div class="detail-item">
    <label>Email: </label><span th:text="${accountant.user.email}"></span>
  </div>
  <div class="detail-item">
    <label>Address: </label><span th:text="${accountant.user.address}"></span>
  </div>

</div>
</body>
</html>
