<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout_admin}">
<head>
    <meta charset="UTF-8">
    <title>Account Management</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="../css/admin-account-management-style.css">
    <link rel="stylesheet" href="../css/header-style.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <script type="text/javascript" th:src="@{/js/admin-account-management-js.js}"></script>
</head>
<body>
<div layout:fragment="content" class="container">
    <h1>Account Information</h1>
    <div class="controller">
        <div class="options-container">
            <button id="add-button">Add Account</button>
            <button>Delete Selected</button>
        </div>
    </div>

    <div id="add-modal" class="modal" >
        <div class="modal-content">
            <span id="close-add" class="close">&times;</span>
            <h1>ADD AN ACCOUNT</h1>
            <div class="table-container">
                <table class="info-table">
                    <tr>
                        <th>User ID:</th>
                        <td>
                            <label>
                                <input type="number">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>User Name:</th>
                        <td>
                            <label>
                                <input type="text">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>User Role:</th>
                        <td>
                            <label>
                                <select name="roles" class="roles">
                                    <option value="student">Student</option>
                                    <option value="teacher">Teacher</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="grade-options-container">
                <button>Confirm</button>
                <button>Cancel</button>
            </div>
        </div>
    </div>

    <div id="edit-modal" class="modal" >
        <div class="modal-content">
            <span id="close-edit" class="close">&times;</span>
            <h1>EDIT AN ACCOUNT</h1>
            <div class="table-container">
                <table class="info-table">
                    <tr>
                        <th>User ID:</th>
                        <td>
                            <label>
                                <input type="number">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>User Name:</th>
                        <td>
                            <label>
                                <input type="text">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>User Role:</th>
                        <td>
                            <label>
                                <select name="roles" class="roles">
                                    <option value="student">Student</option>
                                    <option value="teacher">Teacher</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="grade-options-container">
                <button>Confirm</button>
                <button>Cancel</button>
            </div>
        </div>
    </div>


    <table class="content-table">
        <thead>
        <tr id="table-header">
            <th></th>
            <th id="course-column">User ID</th>
            <th id="class-column">User Name</th>
            <th id="total-column">User Role</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr id="table-searcher">
            <th class="utility-column">
                <div class="logo-table-container">
                    <input id="modalOpener" type="image" class="logo-table" src="/images/search.png" alt="search"/>
                </div>
            </th>
            <th>...</th>
            <th>...</th>
            <th>...</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="checkbox-container">
                <label>
                    <input type="checkbox" class="checkbox">
                </label>
            </td>
            <td class="course">21010001</td>
            <td>Nguyen Van A</td>
            <td>Student</td>
            <td class="utility-column">
                <div class="logo-table-container">
                    <input type="image" class="logo-table" id="logo-edit" src="/images/edit.png" alt="edit"/>
                </div>
            </td>
            <td class="utility-column">
                <div class="logo-table-container">
                    <input type="image" class="logo-table" src="/images/menu.png" alt="menu"/>
                </div>
            </td>
            <td class="utility-column">
                <div class="logo-table-container">
                    <input type="image" class="logo-table" src="/images/delete.png" alt="delete"/>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>