<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
  <meta charset="UTF-8">
  <title>Admin List</title>
  <link rel="stylesheet" type="text/css" href="/css/adminList.css"/>

</head>
<body>
<div layout:fragment="content">
  <h2>Admin List</h2>
  <!--Search teacher-->
  <form th:action="@{/admin/listAdmin}" method="get">
    <input type="text" name="adminCode" placeholder="Search by Admin Code">
    <button type="submit">Search</button>
  </form>
  <form th:action="@{/admin/listAdmin}" method="get">
    <button type="submit" name="showAll">Show All</button>
  </form>

  <!--Student list-->
  <table>
    <thead>
    <tr>
      <th>Admin Code</th>
      <th>Full Name</th>
      <th>Gender</th>
      <th>Date of Birth</th>
      <th>Email</th>
      <th>Address</th>
      <th>Major</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="admin : ${admins}">


      <td>
        <a th:href="'/admin/adminDetail/' + ${admin.adminCode}" th:text="${admin.adminCode}"/>
      </td>

      <td th:text="${admin.user.userFullname}"></td>
      <td th:text="${admin.user.gender}"></td>
      <td th:text="${admin.user.dateOfBirth}"></td>
      <td th:text="${admin.user.email}"></td>
      <td th:text="${admin.user.address}"></td>
      <td></td>
      <td>
        <a th:href="'/admin/updateAdmin/' + ${admin.adminCode}">UPDATE</a>
        <a th:href="'/admin/deleteAdmin/' + ${admin.adminCode}">DELETE</a>

      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>