<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<head>
    <meta charset="UTF-8">
    <title>Admin Detail</title>
    <link rel="stylesheet" type="text/css" href="/css/adminDetail.css" />
</head>
<body>
<div layout:fragment="content" class="content">
    <h1>Admin Detail</h1>
    <div class="detail-item">
        <label>User ID: </label><span th:text="${admin.user.userID}"></span>
    </div>
    <div class="detail-item">
        <label>Admin Code: </label><span th:text="${admin.adminCode}"></span>
    </div>
    <div class="detail-item">
        <label>Username: </label><span th:text="${admin.user.username}"></span>
    </div>
    <div class="detail-item">
        <label>Password: </label><span th:text="${admin.user.password}"></span>
    </div>
    <div class="detail-item">
        <label>Full Name: </label><span th:text="${admin.user.userFullname}"></span>
    </div>
    <div class="detail-item">
        <label>Gender: </label><span th:text="${admin.user.gender}"></span>
    </div>
    <div class="detail-item">
        <label>Date of Birth: </label><span th:text="${admin.user.dateOfBirth}"></span>
    </div>
    <div class="detail-item">
        <label>Email: </label><span th:text="${admin.user.email}"></span>
    </div>
    <div class="detail-item">
        <label>Address: </label><span th:text="${admin.user.address}"></span>
    </div>

</div>
</body>
</html>
