<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<head>
    <meta charset="UTF-8">
    <title>Update Classroom</title>
    <link rel="stylesheet" type="text/css" href="/css/classroomUpdate.css">

</head>
<body>
<div layout:fragment="content" class="form-container">
    <form th:action="@{/admin/saveClassroom}" method="post" th:object="${classroom}">
       <h2>Update Classroom</h2>
        <div class="control-group">
            <label>Classroom Id:</label>
            <input type="text" th:field="${classroom.classroomId}"readonly/>
            <div th:if="${#fields.hasErrors('classroomId')}" th:errorclass="error" th:errors="*{classroomId}"></div>
        </div>
        <div class="control-group">
            <label>Room Number:</label>
            <input type="text" th:field="${classroom.roomNumber}"/>
            <div th:if="${#fields.hasErrors('roomNumber')}" th:errorclass="error" th:errors="*{roomNumber}"></div>
        </div>
        <div class="control-group">
            <label>Room Capacity:</label>
            <input type="text" th:field="${classroom.roomCapacity}"/>
            <div th:if="${#fields.hasErrors('roomCapacity')}" th:errorclass="error" th:errors="*{roomCapacity}"></div>
        </div>

        <button type="submit">Update</button>
    </form>


</div>
</body>
</html>


