<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Classroom Detail</title>
    <link rel="stylesheet" type="text/css" href="/css/classroomDetail.css">
</head>
<body>
<div layout:fragment="content" class="content">
    <h1>Classroom Detail</h1>
    <div class="detail-item">
        <label>Classroom Id: </label>
        <span th:text="${classroom.classroomId}"></span>
    </div>
    <div class="detail-item">
        <label>Room Number: </label>
        <span th:text="${classroom.roomNumber}"></span>
    </div>
    <div class="detail-item">
        <label>Room Capacity: </label>
        <span th:text="${classroom.roomCapacity}"></span>
    </div>

</div>

</body>
</html>