<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Add Major</title>
  <link rel="stylesheet" type="text/css" href="/css/majorAdd.css">
</head>
<body>
<div layout:fragment="content" class="form-container">
  <form th:action="@{/admin/insertMajor}" th:object="${major}" method="post">
      <h2>Add Major</h2>
    <div class = "control-group">
      <label>Major Name: </label>
      <input type="text" th:field="*{majorName}">
      <div th:if="${#fields.hasErrors('majorName')}" th:errors="*{majorName}"></div>
    </div>
      <div class = "control-group">
          <label>Based Course Tuition Fee: </label>
          <input type="number" th:field="*{tuitionBasedCourse}">
          <div th:if="${#fields.hasErrors('tuitionBasedCourse')}" th:errors="*{tuitionBasedCourse}"></div>
      </div>
      <div class = "control-group">
          <label>Specialized Course Tuition Fee: </label>
          <input type="number" th:field="*{tuitionSpecializedCourse}">
          <div th:if="${#fields.hasErrors('tuitionSpecializedCourse')}" th:errors="*{tuitionSpecializedCourse}"></div>
      </div>
      <button type="submit">Submit</button>

  </form>

</div>

</body>
</html>