<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Major Detail</title>
  <link rel="stylesheet" type="text/css" href="/css/majorDetail.css">
</head>
<body>
<div layout:fragment="content" class="content">
    <h1>Major Detail</h1>
    <div class="detail-item">
        <label>Major Id: </label>
        <span th:text="${major.majorId}"></span>
    </div>
    <div class="detail-item">
        <label>Major Name: </label>
        <span th:text="${major.majorName}"></span>
    </div>
    <div class="detail-item">
        <label>Based Course Tuition Fee: </label>
        <span th:text="${major.tuitionBasedCourse}"></span>
    </div>
    <div class="detail-item">
        <label>Specialized Course Tuition Fee: </label>
        <span th:text="${major.tuitionSpecializedCourse}"></span>
    </div>
</div>

</body>
</html>