<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
  <meta charset="UTF-8">
  <title>Semester List</title>
  <link rel="stylesheet" type="text/css" href="/css/semesterList.css">
</head>
<body>
<div layout:fragment="content">

  <h2>Semester List</h2>
  <form th:action="@{/admin/listSemester}" method="get">
    <input type="text" name="semesterId" placeholder="Search by Semester Id">
    <button type="submit">Search</button>
  </form>
  <form th:action="@{/admin/listSemester}" method="get">
    <button type="submit" name="showAll">Show All</button>
  </form>
  <table>
    <thead>
    <tr>
      <th>Semester Id</th>
      <th>Start Year</th>
      <th>End Year</th>
      <th>Semester Number</th>

      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="semester : ${semesters}">
      <td>
        <a th:href="'/admin/semesterDetail/' + ${semester.semesterId}" th:text="${semester.semesterId}"/>
      </td>
      <td th:text="${semester.startYear}"></td>
      <td th:text="${semester.endYear}"></td>
      <td th:text="${semester.semesterNum}"></td>
      <td>
        <a th:href="'/admin/updateSemester/' + ${semester.semesterId}">UPDATE</a>
        <a th:href="'/admin/deleteSemester/' + ${semester.semesterId}">DELETE</a>

      </td>
    </tr>

    </tbody>
  </table>
</div>

</body>
</html>