<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
  <meta charset="UTF-8">
  <title>Add Semester</title>
  <link rel="stylesheet" type="text/css" href="/css/semesterAdd.css">
</head>
<body>
<div layout:fragment="content" class="form-container">
  <form th:action="@{/admin/insertSemester}" th:object="${semester}" method="post">
  <h2>Add semester</h2>
    <div class = "control-group">
      <label>Start Year: </label>
      <input type="text" th:field="*{startYear}">
      <div th:if="${#fields.hasErrors('startYear')}" th:errors="*{startYear}"></div>
    </div>
    <div class = "control-group">
      <label>End Year: </label>
      <input type="text" th:field="*{endYear}">
      <div th:if="${#fields.hasErrors('endYear')}" th:errors="*{endYear}"></div>
    </div>
    <div class = "control-group">
      <label>Semester Number: </label>
      <input type="text" th:field="*{semesterNum}">
      <div th:if="${#fields.hasErrors('semesterNum')}" th:errors="*{semesterNum}"></div>
    </div>


    <button type="submit">Submit</button>

  </form>

</div>

</body>
</html>