<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
  <meta charset="UTF-8">
  <title>Semester Detail</title>
  <link rel="stylesheet" type="text/css" href="/css/semesterDetail.css">
</head>
<body>
<div layout:fragment="content" class="content">
  <h1>Semester Detail</h1>
  <div class="detail-item">
    <label>Semester Id: </label>
    <span th:text="${semester.semesterId}"></span>
  </div>
  <div class="detail-item">
    <label>Start Year: </label>
    <span th:text="${semester.startYear}"></span>
  </div>
  <div class="detail-item">
    <label>End Year: </label>
    <span th:text="${semester.endYear}"></span>
  </div>
  <div class="detail-item">
    <label>Semester Number: </label>
    <span th:text="${semester.semesterNum}"></span>
  </div>

</div>

</body>
</html>