<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<head>
  <meta charset="UTF-8">
  <title>Semester Major</title>
  <link rel="stylesheet" type="text/css" href="/css/semesterUpdate.css">

</head>
<body>
<div layout:fragment="content" class="form-container">
  <form th:action="@{/admin/saveSemester}" method="post" th:object="${semester}">
    <h2>Update Semester</h2>

    <div class="control-group">
      <label>Semester Id:</label>
      <input type="text" th:field="${semester.semesterId}"readonly/>
      <div th:if="${#fields.hasErrors('semesterId')}" th:errorclass="error" th:errors="*{semesterId}"></div>
    </div>
    <div class="control-group">
      <label>Start Year:</label>
      <input type="number" th:field="${semester.startYear}"/>
      <div th:if="${#fields.hasErrors('startYear')}" th:errorclass="error" th:errors="*{startYear}"></div>
    </div>
    <div class="control-group">
    <label>End Year:</label>
    <input type="number" th:field="${semester.endYear}"/>
    <div th:if="${#fields.hasErrors('endYear')}" th:errorclass="error" th:errors="*{endYear}"></div>
</div>
    <div class="control-group">
      <label>Semester Number:</label>
      <input type="number" th:field="${semester.semesterNum}"/>
      <div th:if="${#fields.hasErrors('semesterNum')}" th:errorclass="error" th:errors="*{semesterNum}"></div>

    <button type="submit">Update</button>
  </form>


</div>
</body>
</html>


