<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout_admin}">
<head>
    <meta charset="UTF-8"/>
    <title>Details</title>
    <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/profile.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header-style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css"/>
    <!-- <link rel="stylesheet" href="/Student/Students styles/profile.css"> -->
</head>
<body>
<div layout:fragment="content">
    <div class="profile">
        <div class="padding"></div>
        <div class="profile-header">
            <div class="profile-ID">
                <h1 th:text="${student.user.userFullname}"></h1>
                <h2 th:text="${student.user.role}"></h2>
            </div>
        </div>
        <div class="profile-des">
            <div class="profile-des-1">
                <div class="info-group">
                    <div class="info-label">ID:</div>
                    <input type="text" th:value="${student.user.userID}" readonly>
                </div>
                <div class="info-group">
                    <div class="info-label">Student Code:</div>
                    <input type="text" th:value="${student.studentCode}" readonly>
                </div>
                <div class="info-group">
                    <div class="info-label">Username:</div>
                    <label>
                        <input type="text" th:value="${student.user.username}" readonly />
                    </label>
                </div>
                <div class="info-group">
                    <div class="info-label">Password:</div>
                    <input type="text" th:value="${student.user.password}" readonly>
                </div>
                <div class="info-group">
                    <div class="info-label">Full Name:</div>
                    <input type="text" th:field="${student.user.userFullname}">
                </div>
                <div class="info-group">
                    <div class="info-label">Date of Birth:</div>
                    <input type="text" th:value="${student.user.dateOfBirth}"  readonly>
                </div>
                <div class="info-group">
                    <div class="info-label">Email:</div>
                    <input type="text" th:value="${student.user.email}" readonly>
                </div>
            </div>
            <div class="profile-des-2">
                <div class="info-group">
                    <div class="info-label">Address:</div>
                    <input type="text" th:value="${student.user.address}" readonly>
                </div>
                <div class="info-group">
                    <div class="info-label">Phone Number:</div>
                    <input type="text" th:value="${student.user.phoneNumber}" readonly>
                </div>
                <div class="info-group">
                    <div class="info-label">Gender:</div>
                    <input type="text" th:value="${student.user.gender}" readonly>
                </div>
                <div class="info-group">
                    <div class="info-label">Class:</div>
                    <input type="text" th:value="${student.classBelong}" readonly>
                </div>
                <div class="info-group">
                    <div class="info-label">Training System:</div>
                    <input type="text" th:value="${student.trainingSystem}" readonly>
                </div>
                <div class="info-group">
                    <div class="info-label">Major:</div>
                    <input type="text" th:value="${student.major.majorName}" readonly>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
