<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_adminLayout">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Student List</title>-->
<!--    <link rel="stylesheet" type="text/css" href="/studentList.css">-->
<!--</head>-->
<!--<body>-->
<!--<div layout:fragment="content">-->
<!--    <h2>Student List</h2>-->

<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Username</th>-->
<!--            <th>Password</th>-->
<!--            <th>Student Code</th>-->
<!--            <th>Full Name</th>-->
<!--            <th>Gender</th>-->
<!--            <th>Date of Birth</th>-->
<!--            <th>Email</th>-->
<!--            <th>Address</th>-->
<!--            <th>Class Belong</th>-->
<!--            <th>Department</th>-->
<!--            <th>Training System</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="student : ${students}">-->
<!--            <td>-->
<!--                <a th:href="'/admin/studentDetail/' + ${student.id}" th:text="${student.id}"/>-->
<!--            </td>-->

<!--            <td th:text="${student.username}"></td>-->
<!--            <td th:text="${student.password}"></td>-->
<!--            <td th:text="${student.studentCode}"></td>-->
<!--            <td th:text="${student.fullName}"></td>-->
<!--            <td th:text="${student.gender}"></td>-->
<!--            <td th:text="${student.dateOfBirth}"></td>-->
<!--            <td th:text="${student.email}"></td>-->
<!--            <td th:text="${student.address}"></td>-->
<!--            <td th:text="${student.classBelong}"></td>-->
<!--            <td th:text="${student.department}"></td>-->
<!--            <td th:text="${student.trainingSystem}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_adminLayout">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <link rel="stylesheet" type="text/css" href="/studentList.css">
</head>
<body>
<div layout:fragment="content">
    <h2>Student List</h2>

    <table>
        <thead>
        <tr>
            <th>Student Code</th>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Address</th>
            <th>Class Belong</th>
            <th>Department</th>
            <th>Training System</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td>
                <a th:href="'/admin/studentDetail/' + ${user.userID}" th:text="${user.userID}"/>
            </td>



            <td th:text="${student.studentCode}"></td>
            <td th:text="${user.userFullname}"></td>
            <td th:text="${user.gender}"></td>
            <td th:text="${user.dateOfBirth}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${student.classBelong}"></td>
<!--            <td th:text="${student.department}"></td>-->
            <td th:text="${student.trainingSystem}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
