<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout"
>
<head>
  <meta charset="UTF-8">
  <title>Update Teacher</title>
  <link rel="stylesheet" href="/css/teacherUpdate.css">
</head>

<body>
<div layout:fragment="content" class="form-container">

<form th:action="@{/admin/saveTeacher}" method="post" th:object="${teacher}">
  <h2>Update Teacher</h2>
  <input type="hidden" th:field="*{teacherCode}">
  <div class="control-group">
    <label>User ID:</label>
    <input type="text" th:field="${teacher.user.userID}" readonly/>
    <div th:if="${#fields.hasErrors('user.userID')}" class="error" th:errors="*{user.userID}" />
  </div>
  <div class="control-group">
    <label>Teacher Code:</label>
    <input type="text" th:field="${teacher.teacherCode}" readonly/>
    <div th:if="${#fields.hasErrors('teacherCode')}" class="error" th:errors="*{teacher.teacherCode}" />
  </div>
  <div class="control-group">
    <label>Username:</label>
    <input type="text" th:field="${teacher.user.username}" readonly/>
    <div th:if="${#fields.hasErrors('user.username')}" class="error" th:errors="*{user.username}" />
  </div>
  <div class="control-group">
    <label>Password:</label>
    <input type="text" th:field="${teacher.user.password}" />
    <div th:if="${#fields.hasErrors('user.password')}" class="error" th:errors="${user.password}" />
  </div>
  <div class="control-group">
    <label>User Fullname:</label>
    <input type="text" th:field="${teacher.user.userFullname}" />
    <div th:if="${#fields.hasErrors('user.userFullname')}" class="error" th:errors="${user.userFullname}" />
  </div>
  <div class="control-group">
    <label>Gender:</label>
    <select th:field="${teacher.user.gender}">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>
    <div th:if="${#fields.hasErrors('user.gender')}" class="error" th:errors="*{user.gender}" />
  </div>
  <div class="control-group">
    <label>Date of Birth:</label>
    <input type="date" th:field="${teacher.user.dateOfBirth}" />
    <div th:if="${#fields.hasErrors('user.dateOfBirth')}" class="error" th:errors="*{user.dateOfBirth}" />
  </div>
  <div class="control-group">
    <label>Email:</label>
    <input type="email" th:field="${teacher.user.email}" />
    <div th:if="${#fields.hasErrors('user.email')}" class="error" th:errors="*{user.email}" />
  </div>
  <div class="control-group">
    <label>Phone Number:</label>
    <input type="text" th:field="${teacher.user.phoneNumber}" />
    <div th:if="${#fields.hasErrors('user.phoneNumber')}" class="error" th:errors="*{user.phoneNumber}" />
  </div>
  <div class="control-group">
    <label>Role:</label>
    <select th:field="${teacher.user.role}">
      <option value="Student">Student</option>
      <option value="Teacher">Teacher</option>
      <option value="Admin">Admin</option>
      <option value="Accountant">Accountant</option>
    </select>
    <div th:if="${#fields.hasErrors('user.role')}" class="error" th:errors="*{user.role}" />
  </div>
  <div class="control-group">
    <label>Address:</label>
    <input type="text" th:field="${teacher.user.address}" />
    <div th:if="${#fields.hasErrors('user.address')}" class="error" th:errors="*{user.address}" />
  </div>
  <button type="submit">Update</button>
</form>
</div>
</body>
</html>
