<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<head>
  <meta charset="UTF-8">
  <title>Teacher Detail</title>
  <link rel="stylesheet" type="text/css" href="/css/teacherDetail.css" />
</head>
<body>
<div layout:fragment="content" class="content">
  <h1>Teacher Detail</h1>
  <div class="detail-item">
    <label>User ID: </label><span th:text="${teacher.user.userID}"></span>
  </div>
  <div class="detail-item">
    <label>Teacher Code: </label><span th:text="${teacher.teacherCode}"></span>
  </div>
  <div class="detail-item">
    <label>Username: </label><span th:text="${teacher.user.username}"></span>
  </div>
  <div class="detail-item">
    <label>Password: </label><span th:text="${teacher.user.password}"></span>
  </div>
  <div class="detail-item">
    <label>Full Name: </label><span th:text="${teacher.user.userFullname}"></span>
  </div>
  <div class="detail-item">
    <label>Gender: </label><span th:text="${teacher.user.gender}"></span>
  </div>
  <div class="detail-item">
    <label>Date of Birth: </label><span th:text="${teacher.user.dateOfBirth}"></span>
  </div>
  <div class="detail-item">
    <label>Email: </label><span th:text="${teacher.user.email}"></span>
  </div>
  <div class="detail-item">
    <label>Address: </label><span th:text="${teacher.user.address}"></span>
  </div>
<!--  <div class="detail-item">-->
<!--    <label>Department: </label><span th:text="${teacher.department}"></span>-->
<!--  </div>-->

</div>
</body>
</html>
