<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<head>
  <meta charset="UTF-8">
  <title>Update Timetable</title>
  <link rel="stylesheet" type="text/css" href="/css/timetableUpdate.css">

</head>
<body>
<div layout:fragment="content" class="form-container">
  <form th:action="@{/admin/saveTimetable}" method="post" th:object="${timetable}">
    <h2>Update Timetable</h2>

    <div class="control-group">
      <label>Timetable Id:</label>
      <input type="text" th:field="${major.majorId}"readonly/>
      <div th:if="${#fields.hasErrors('majorId')}" th:errorclass="error" th:errors="*{majorId}"></div>
    </div>
    <div class="control-group">
      <label>Major Name:</label>
      <input type="text" th:field="${major.majorName}"/>
      <div th:if="${#fields.hasErrors('majorName')}" th:errorclass="error" th:errors="*{majorName}"></div>
    </div>
    <div class="control-group">
      <label>Based Course Tuition Fee:</label>
      <input type="text" th:field="${major.tuitionBasedCourse}"/>
      <div th:if="${#fields.hasErrors('tuitionBasedCourse')}" th:errorclass="error" th:errors="*{tuitionBasedCourse}"></div>
    </div>
    <div class="control-group">
      <label>Specialized Course Tuition Fee:</label>
      <input type="text" th:field="${major.tuitionSpecializedCourse}"/>
      <div th:if="${#fields.hasErrors('tuitionSpecializedCourse')}" th:errorclass="error" th:errors="*{tuitionSpecializedCourse}"></div>
    </div>
    <button type="submit">Update</button>
  </form>


</div>
</body>
</html>


