<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Add Timetable</title>
    <link rel="stylesheet" type="text/css" href="/css/timetableAdd.css">
    <script src="/js/courseAdd.js" defer></script>

</head>
<body>
<div layout:fragment="content" class="form-container">
    <h2>Add Timetable</h2>
    <div th:if="${errorMessage}" class="error-message">
        <span th:text="${errorMessage}" class="error-text"></span>
    </div>
    <form th:action="@{/admin/insertTimetable}" th:object="${timetable}" method="post">
        <div class="control-group">
            <label>Course: </label>
            <select th:field="*{course.courseId}">
                <option value="Select Course">Select Course</option>
                <option th:each="course : ${courses}"
                        th:value="${course.courseId}"
                        th:text="${course.courseName} + '-' + ${course.courseCode}">
                </option>
            </select>
        </div>
        <div class="control-group">
            <label>Classroom: </label>
            <select th:field="*{classroom.classroomId}">
                <option value="Select Classroom">Select Classroom</option>
                <option th:each="classroom : ${classrooms}"
                        th:value="${classroom.classroomId}"
                        th:text="${classroom.roomNumber}">
                </option>
            </select>
        </div>

        <div class="control-group">
            <label>Teaching Day: </label>
            <input type="text" th:field="*{teachingDay}" placeholder="e.g., monday, tuesday, wednesday">
            <div th:if="${#fields.hasErrors('teachingDay')}" th:errors="*{teachingDay}"></div>
        </div>
        <div class="control-group">
            <label>Starting Date: </label>
            <input type="date" th:field="*{startDate}">
            <div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
        </div>
        <div class="control-group">
            <label>Ending Date: </label>
            <input type="date" th:field="*{endDate}">
            <div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
        </div>

        <div class="control-group">
            <label>Starting Time: </label>
            <input type="time" th:field="*{startTime}">
            <div th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></div>
        </div>
        <div class="control-group">
            <label>Ending Time: </label>
            <input type="time" th:field="*{endTime}">
            <div th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></div>
        </div>


        <button type="submit">Submit</button>

    </form>

</div>

</body>
</html>