<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />

    <title>View Mark</title>
  </head>
  <style>
    .View_Mark_Student {
      background-color: #f9f4ee;
      display: flex;
      justify-content: center;
      font-family: "Inter";
      align-items: center;
    }
    h1 {
      color: black;
      margin-left: 530px;
      font-size: 40px;
    }
    .FilterContain {
      padding: 10px;
      padding-bottom: 20px;
      justify-content: space-between;
      align-items: center;
      margin-left: 350px;
    }
    #TuitionFilter {
      height: 40px;
      width: 300px;
      border-radius: 10px;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
    }

    table {
      margin-top: 20px;
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd;
    }

    th,
    td {
      border: 1px solid black;
      text-align: center;
      width: 10px;
    }

    th {
      background-color: #9a2229;
      color: white;
      text-align: center;
      padding: 10px 20px 10px;
    }
    /*Chỉnh size của cells ở đây*/
    td {
      padding: 10px 10px 10px;
      width: 120px;
      height: 30px;
      background-color: #f6ecec;
    }
    .mark-option-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      button {
        padding: 5px 20px 5px;
        font-size: 20px;
        border-radius: 6px;
        margin-bottom: 10px;
        background-color: #fa9f42;
        font-weight: 600;
        cursor: pointer;
        width: 300px;
        height: 50px;
      }
      #button-1 {
        margin-left: 300px;
      }
      #button-2 {
        margin-right: 300px;
      }
    }
  </style>
  <body class="View_Mark_Student">
    <div layout:fragment="content" class="container">
      <h1>View Mark</h1>
      <div class="mark-option-container">
        <button id="button-1">Calculate Average GPA</button>
        <button id="button-2">Calculate Estimate GPA</button>
      </div>
      <div
        style="
          background-color: white;
          width: fit-content;
          border: 1px black solid;
          border-radius: 10px;
        "
      >
        <p style="padding: 5px 10px 5px; font-weight: bold">
          Semester 1, 2023-2024
        </p>
      </div>
      <table>
        <thead>
          <tr>
            <th style="width: 1%; height: 20px">ID</th>
            <th style="width: 10%; height: 20px">Course ID</th>
            <th style="width: 15%; height: 20px">Course Name</th>
            <th style="width: 3%; height: 20px">Credit</th>
            <th style="width: 3%; height: 20px">Grade (10)</th>
            <th style="width: 3%; height: 20px">Grade (4)</th>
            <th style="width: 4%; height: 20px">Grade</th>
            <th style="width: 3%; height: 20px">Pass</th>
            <th style="width: 5%; height: 20px">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="font-weight: bold">1</td>
            <td style="font-weight: bold">61FITSE1</td>
            <td style="font-weight: bold">Software Engineer 1</td>
            <td style="font-weight: bold">3</td>
            <td style="font-weight: bold">8.5</td>
            <td style="font-weight: bold">3.5</td>
            <td style="font-weight: bold">A</td>
            <td style="font-weight: bold; cursor: pointer">
              <i class="fa-solid fa-check fa-2x"></i>
            </td>
            <td style="font-weight: bold; cursor: pointer">
              <i class="fa-solid fa-bars fa-2x"></i>
            </td>
          </tr>
          <tr>
            <td style="font-weight: bold">2</td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
          </tr>
          <tr>
            <td style="font-weight: bold">3</td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
          </tr>
          <tr>
            <td style="font-weight: bold">4</td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
          </tr>
          <tr>
            <td style="font-weight: bold">5</td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
          </tr>
          <tr>
            <td style="font-weight: bold">6</td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
            <td style="font-weight: bold"></td>
          </tr>
        </tbody>
        <div>
          <tfoot>
            <tr>
              <td colspan="4" style="font-weight: bold; font-size: 20px">
                Total
              </td>
              <td style="font-weight: bold">8.5</td>
              <td style="font-weight: bold">8.5</td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
            </tr>
          </tfoot>
        </div>
      </table>
      <div style="padding-top: 30px">
        <table>
          <div
            style="
              background-color: white;
              width: fit-content;
              border: 1px black solid;
              border-radius: 10px;
            "
          >
            <p style="padding: 5px 10px 5px; font-weight: bold">
              Semester 2, 2023-2024
            </p>
          </div>
          <thead>
            <tr>
              <th style="width: 1%; height: 20px">ID</th>
              <th style="width: 10%; height: 20px">Course ID</th>
              <th style="width: 15%; height: 20px">Course Name</th>
              <th style="width: 3%; height: 20px">Credit</th>
              <th style="width: 3%; height: 20px">Grade (10)</th>
              <th style="width: 3%; height: 20px">Grade (4)</th>
              <th style="width: 4%; height: 20px">Grade</th>
              <th style="width: 3%; height: 20px">Pass</th>
              <th style="width: 5%; height: 20px">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="font-weight: bold">1</td>
              <td style="font-weight: bold">61FITSE2</td>
              <td style="font-weight: bold">Software Engineer 2</td>
              <td style="font-weight: bold">3</td>
              <td style="font-weight: bold">8.5</td>
              <td style="font-weight: bold">3.5</td>
              <td style="font-weight: bold">A</td>
              <td style="font-weight: bold; cursor: pointer">
                <i class="fa-solid fa-check fa-2x"></i>
              </td>
              <td style="font-weight: bold; cursor: pointer">
                <i class="fa-solid fa-bars fa-2x"></i>
              </td>
            </tr>
            <tr>
              <td style="font-weight: bold">2</td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
            </tr>
            <tr>
              <td style="font-weight: bold">3</td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
            </tr>
            <tr>
              <td style="font-weight: bold">4</td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
            </tr>
            <tr>
              <td style="font-weight: bold">5</td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
            </tr>
            <tr>
              <td style="font-weight: bold">6</td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
              <td style="font-weight: bold"></td>
            </tr>
          </tbody>
          <div>
            <tfoot>
              <tr>
                <td colspan="4" style="font-weight: bold; font-size: 20px">
                  Total
                </td>
                <td style="font-weight: bold">8.5</td>
                <td style="font-weight: bold">8.5</td>
                <td style="font-weight: bold"></td>
                <td style="font-weight: bold"></td>
                <td style="font-weight: bold"></td>
              </tr>
            </tfoot>
          </div>
        </table>
      </div>
    </div>
  </body>
</html>
